body {
	background: url('https://media.giphy.com/media/8NZnI022EZa/giphy.gif') fixed 50% 50%;
	box-sizing: border-box;
	text-align: center;
	color: white;
	background-size: cover;
}

/*Trippy Gif : https://38.media.tumblr.com/fb583d4c627fc91ce6203f2e8f15e08e/tumblr_nq7p0agVNX1s04zg1o1_500.gif*/
/*TRippy Cat: http://33.media.tumblr.com/tumblr_lp5t4k5sCr1qce386o1_500.gif*/

h1 {
	color: #ED0A3F;
	font-family: sans-serif;
    margin: auto;
    position: relative;
    top: 300px;
    /*top: 50px;*/
    width: 100%;
    font-size: 70px;
    animation: change 7s step-end infinite ;
}


@keyframes change {
	0% {color: #FF6037}
	15% {color: #66FF66}
	30% {color: #FF355E}
	45% {color: white}
	60% {color: #50BFE6}
	75% {color: #FF6EFF}
	90% {color: #FFFF66}
	100% {color: #1A1110}
}


img {
	width: 200px;
	height: 200px;
	margin-top: 100px;
}

a {
	text-decoration: none;
}